* {font-family: arial; margin: 0; padding: 0;}
body {
 /* padding: 0px 10px 0px 30px;*/
/* padding-left: 17%;*/
background-image: url(https://telegram.org/img/tgme/pattern.svg);
background-repeat: repeat;
background-color: rgba(242, 239, 228, 1);

}
.card, .projects-card {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
  box-shadow: 0 2px 13px 6px rgb(0 0 0 / 10%);
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  max-width: 300px;
  min-width: 300px;
  text-align: center;
  font-family: arial;
  height: 495px; 
  margin: 10px auto;
  border-radius: 16px;
}

.title {
  color: rgba(139, 130, 107, 1);
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  /*background-color: #000;*/
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: rgba(139, 130, 107, 0.8);
  text-transform: uppercase;
  position:absolute;bottom:0;right:0;

}

a {
  text-decoration: none;
  font-size: 22px;
  /*color: rgba(139, 130, 107, 1);*/
  /*text-shadow: 0 2px 4px rgb(0 0 0 / 10%);*/
}

button:hover, a:hover {
  opacity: 0.7;
}

.links img {
  height: 30px; width: 30px;
  /*box-shadow: 0 2px 13px 6px rgb(0 0 0 / 10%);*/

}

.projects-card a {  font-size: 18px; color: #fff; /*text-shadow: 0 2px 4px rgb(0 0 0 / 10%);*/}
.projects-card {max-width: 300px;}
.projects-card img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  height: 417px;

  object-fit: cover;
/*  max-height: 300px;*/
 /* overflow: hidden;*/
 object-position: 0 0;
}
.projects-card iframe {
  border-radius: 16px;
 box-shadow: 0 2px 13px 6px rgb(0 0 0 / 10%);
}

.c  {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    border-radius: 16px;
    margin: auto;
    /*display: flex;*/
    flex-wrap: wrap;
    display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border: blur(3px);

}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 16px;
}

@media screen and (max-width: 656px ) {
  .content {
    display: flex;
    justify-content: center;
  }
}

h1 {
  
  color: rgba(139, 130, 107, 1);
  /*text-shadow: 0 2px 4px rgb(0 0 0 / 10%);*/
}

p {
  
  color: rgba(139, 130, 107, 1);
  /*text-shadow: 0 2px 4px rgb(0 0 0 / 10%);*/
}
