* {
	margin: 0;
	padding: 0; 
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
body {
	font-family: 'OpenSans-Regular', sans-serif;
}
header {
	width: 100%;
	background: #000;
	display: flex;
	position: sticky;
	top: 0;
}
.header__logo {
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 56px;
	margin-left: 12%;
}
nav {
	margin-top: 56px;
	margin-left: 23%;
}

.topnav a{
	color:#ffffff;
	text-align: center;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
}
.topnav a:hover{
	border-bottom: 3px solid #fcac45;

}

.topnav .icon{
	display: none;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

main .main__welcome {
	background: #000;
	text-align: center;
	padding: 200px 0 410px 0;
}

main .main__welcome p {
	color: #9999;
	font-size: 20px;
}

main .main__welcome h1 {
	color: #9999;
	font-size: 44px;
}

.mycompany {
	color: #fcac45;
}

.wrapper {
	width: 76%;
	margin: 0 auto;

}


main .main__about {
	display: flex;
	padding-top: 100px;
	padding-bottom: 100px;
}

.about__right {
	margin-left: 175px;
}

.about__right h1{
	display: inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
}

.about__right h1:after{
	display: none;
}

.about__right p{
	margin: 30px 0 50px 0;
	color: #6c6c6c;
}

.about__right li{
	background: url(img/mark.png) 0px no-repeat;
	padding-left: 25px;
	margin-top: 10px;
	color: #6c6c6c;
}

.mw-100{
	min-width: 100%;
}


.main__team{
	background: #000;
	text-align: center;
	padding: 100px 0 165px 0;
	color: #fff;
}

.main__team h1{
	font-size: 44px;
	padding-bottom: 30px;

}

.social{
	display: flex;
	justify-content: center;

}

footer {
	width: 100%
	height: auto;
	background: #222222;
	padding: 30px 0 30px 0;
	text-align: center;
}

.social img {
	margin-left: 12px;
}

.social img:hover {
	opacity: 0.6;
}


/*.line{
	width: 100px;
	height: 3px;
	background: #fcac45;
	position: relative;
	left: 45.5%;
	margin-bottom: 85px;
}*/

h1:after{
	content: "";
	display: block;
	margin: 0 auto;
	width: 100px;
	padding-top: 30px;
	border-bottom: 3px solid #fcac45;
}

.photo {
	background: #d7d7d7;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;
}

.team__cards{
	display: flex;
}

.card{
	margin: 0 40px 0 40px;
}

.card .about__position {
	font-size: 14px;
	opacity: 80%;
	color: gray;
}

.card .position {
	font-size: 14px;
	margin-bottom: 35px;
}

.card .name{
	font-size: 20px;
	font-style: bold;
	margin-bottom: 7px;
}

.services__cards{
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 20px;
}

.main__services h1{
	text-align: center;
	padding: 100px 0 30px 0;
	color: #6c6c6c;
}

.main__services p{
	text-align: center;
	color: #6c6c6c;
	margin-bottom: 100px;
}

.services__card h4{
	margin-top: 20px;
	margin-bottom: 15px;
}

.services__card p{
	font-size: 14px;
	color: #6c6c6c;
	font-weight: lighter;
}

.main__clients{
	background: #000;
	padding: 100px 0 205px 0;
	color: white;
	text-align: center;
}

.main__clients h1 {	
	margin-bottom: 30px;
}

.main__clients img {	
	margin-top: 10px;
	margin-left: 30px;
}

.main__clients span {
	font-weight: lighter;
	opacity: 0.8;
}

.main__testimonials {
	background: #000;
	text-align: center;
	color: #fff;
}

.gallery {
	margin-right: 40px;
}

.gallery .line1{
	display: inline-flex;
}

.gallery .line2{
	display: inline-flex;
}

.gallery .line3{
	display: inline-flex;
}
.gallery img{
	margin-left: 20px;
}

.main__testimonials span {
	font-weight: lighter;
	opacity: 0.9;
	color: #7d7d7d
}

.main__testimonials h1 {
	margin-top: 100px;
	margin-bottom: 30px;
}

.main__testimonials p {
	text-transform: uppercase;
	margin-bottom: 50px;
}

.main__testimonials .dean {
	text-transform: none;
	font-weight: lighter;
	font-size: 12px;
	opacity: 50%;
	color: #6e6e6e;
	padding-bottom: 170px;
}

.main__work {
	text-align: center;
	padding: 100px 0 100px 0;
}

.main__work h1{
	margin-bottom: 30px;
}

.main__work p{
	margin-bottom: 175px;
	color: #6c6c6c;
}

.main__work span{
	font-weight: lighter;
}

.main__work img:hover{
	opacity: 0.9;
}

.contact__wrapper {
	width: 100%;
	margin: 0 auto;
	color: #636363
}

.red {
	color: red;
}

.form__inputs {
	display: flex;
	margin-top: 100px;
}

textarea {
	width: 100%;
	height: 163px;
}

input, textarea {
	border: 1px solid #999999;
	margin-top: 5px;
}

input:first-of-type{
	margin-right: 23px;
}

input {
	width: 360px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 30px;
}


.button__block {
	display: flex;
	justify-content: flex-end;

}

input[type=submit]{
	width: 165px;
	height: 40px;
	background: #fcac45;
	color: white;
	margin-right: 0;
	margin-top: 20px;
}

.contact__form h1, p{
	text-align: center;
}

.contact__form h1{
	color: black;
	margin-bottom: 30px;
}

form {
	text-align: left;
}

.contact__form {
	padding: 100px 0 100px 0;
}

@media screen and (max-width: 1200px){
	nav {
		margin-left: 13%;
	}
}
@media screen and (max-width: 1105px){
	nav {
		margin-left: 10%;
	}
}





@media screen and (max-width: 1010px){
	.topnav a{
		display: none;	
	}

	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #fff;
		font-size: 25px;
	}
	nav{
		width: 100%;
	}
	.topnav.responsive {
		position: relative;
		top: 50px;
		left: -200px;
	}
	header .topnav.responsive {
		height: 340px;
	}
	.topnav.responsive a.icon {
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.topnav.responsive a {
			float: none;
			display: block;
			text-align: left;
		}





		main .main__welcome {
			padding: 50px 0 50px 0;
		}

		main .main__welcome p {
			font-size: 14px;
		}

		main .main__welcome h1 {
			font-size: 25px;
		}

		.mw-100{
			max-width: 100%;
		}

		.main__about{
			flex-direction: column;
		}

		.about__right{
			text-align: center;
			margin-left: 0;
		}

		.about__right li{
			text-align: left;
		}

		.about__right h1{
			font-size: 20px;
			margin-top: 10px;
		}

		.team__cards{
			flex-direction: column;
		}

		.services__cards{
			grid-template-columns: auto;
		}

		.services__card{
			margin-top: -70px;
		}

		.line1 img:not(:first-child){
			display: none;
		}
		.line2 img:not(:first-child){
			display: none;
		}
		.line3 img:not(:first-child){
			display: none;
		}


	.contact__form{
		text-align: center;
	}

	.contact__form input{
		display: grid;
		grid-template-columns: auto;
	}

	.form__inputs {
		flex-direction: column;
	}

	
	.contact__form .a122 {
		display: block;
		text-align: center;
		width: 70%;
		margin-left: -40px;
	}

	.contact__form .a12a2 {
		text-align: center;
		width: 50%;
		margin-left: 40px;
	}

	.form__inputs p{
		text-align: left;
	}

	.msg {
		text-align: left;
	}

	.contact__form textarea {
		width: 48%;
	}


	.contact__form .button__block {
		width: 48%;

	}

}







