
@font-face {
	font-family: 'Kaushan-Script-Regular';
	src: url('../fonts/Kaushan-Script-Regular.ttf');
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Roboto-Italic';
	src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.ttf');
}

.header-text, .header2-text {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 48px;
	color: #fff;
}

.header-text-under, .header2-text-under {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 16px;
	color: #fff;
}

.header-body-text {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 48px;
	color: #868686;
}

.header-body-text-under {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 16px;
	color: #868686;
}

.header-form-text {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	color: #868686;
}

.body-buttons {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 19px;
	background-color: #3EC6FF;
	color: #fff;
	height: 50px;
}

.body-buttons {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 19px;
	background-color: #3EC6FF;
	color: #fff;
	height: 50px;
}

.testimonials-date {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 16px;
	color: #343434;
}

.testimonials-text {
	font-family: 'Roboto-Italic', sans-serif;
	font-size: 14px;
	color: #868686;
}

/** { opacity: 0.85; } */

body {
	background-image: url("../img/b3_grid.png");
	background-position: center; 
	background-repeat: repeat-y;
	background-color: #D7D7D7;
}

nav {
	display: inline;
	background-color: #fff;
}

.logo-text {
	float: left;
	display: block;
	color: #3ec6ff;
	font-size: 48px;
	font-family: 'Kaushan-Script-Regular', sans-serif;
}

.logo-links {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 18px;
	color: #343434;
}

nav ul li{
	list-style-type: none;
	display: inline;
	float: right;
}


.header1 {
	padding-top: 226px;
	max-width: 100%;
	background-image: url("../img/header1_bg.png");
	background-repeat: no-repeat;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}
.header1 span {	display: block; }
.header1 span:nth-of-type(2){ margin: 52px 0 82px;}
.header1-forms { 
	height: 50px; 
	padding-bottom: 228px;
/*	display: inline-block;
*/	}
.header1-forms input {
	border: none;
	border-radius: 5px;
	padding-left: 30px;
	width: 100%;
	font-size: 16px;
	color: #b7b7b7;
	height: 50px;
	font-family: 'Roboto-Regular', sans-serif;
}

.header1-forms-4  {
	width: 100%;  
	border: none;
	color: #fff;
	border-radius: 5px;
}

.header2 {
	padding-top: 226px;
	max-width: 100%;
	background-image: url("../img/header2_bg.png");
	background-repeat: no-repeat;
	display: block;
	text-align: center;
}

.header2-text {
	text-align: left;
}

.header2 span {	display: block; }
.header2 span:nth-of-type(2){ margin: 52px 0 82px;}

.subscribe { 
	padding: 92px 0;
	width: 100%;
	margin-top: 20px; 
	display: inline-block;
}
.subscribe-button  {
	width: 100%;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 16px;
	background-color: #3EC6FF;
	color: #fff;
	height: 50px;
	width: 100%;  
	border: none;
	color: #fff;
	border-radius: 5px;
}























@media screen and (max-width: 991px) {
	.header1-forms input {
		margin-bottom: 20px;
	}
}